body {
    font-family: Arial, sans-serif;
}

.callout {
    background-color: #702963;
    color: #fff;
    padding: 20px;
    padding-left: 30px; /* Adjust padding as needed */
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Add gap between columns if needed */
}

main h2 {
    grid-column: span 2;
    text-align: left;
}

.banner {
    /* Banner styles */
}

footer {
    text-align: left;
}

/* Pseudo-element styling for ordered list */
ol li::marker {
    color: navy;
    font-size: 2rem;
    font-variant: small-caps;
}

ol li::before {
    content: '☑️ ';
    margin-right: 10px; /* Adjust the spacing as needed */
}
