:root {
    --primary-color: #4E598C;
    --secondary-color: #FF8C42;
    --tertiary-color: #ADD8E6;
    --text-color: #000000;
    --background-color: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h2, h3 {
    font-family: Georgia, serif;
    color: var(--secondary-color);
}

h1, h2, h3 {
    font-family: Georgia, serif;
    
}

h1, h2 {
    text-align: center;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}


.wireframe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wireframe-item {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    margin: 1rem;
    text-align: center;
}

.wireframe-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--primary-color);
}

.color-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.color-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

.color-labels {
    display: flex;
    justify-content: space-around;
}

.color-label {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: 100px; /* Match width with color boxes */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--tertiary-color); /* Use tertiary color on hover */
}


footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}
