:root {
    --primary-color: #4E598C;
    --secondary-color: #FF8C42;
    --tertiary-color: #ADD8E6;
    --text-color: #000000;
    --background-color: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    text-align: center;
}

h2 {
    color: var(--secondary-color); 
    font-weight: bold; 
}


h2, h3 {
    text-align: center; 
}

p {
    text-align: center; 
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: var(--secondary-color); 
}

.hero-image {
    width: 100%;
    height: auto;
}

main {
    padding: 1rem;
    flex: 1;
}



.transformer-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 1rem; /* Space between images */
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    max-height: 150px; /* Limit height for uniformity */
}

.image-label {
    font-style: italic;
    color: black;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Adjust width as needed */
    margin: 0 auto;
}

.centered-form label,
.centered-form input,
.centered-form textarea,
.centered-form button {
    width: 100%;
    margin: 0.5rem 0;
}

.centered-form button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.centered-form button:hover {
    opacity: 0.8;
}

input, textarea {
    padding: 10px; /* Add padding for space inside */
    height: 44px; /* Set minimum height */
    box-sizing: border-box; /* Ensure padding is included in height */
    width: 100%; /* Full width */
    margin-bottom: 1rem; /* Space between fields */
}

textarea {
    height: auto; /* Let it grow */
}



.required {
    color: red;
    margin-left: 5px;
}



footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}
