:root {
    --primary-color: #4E598C;
    --secondary-color: #FF8C42;
    --text-color: #000000;
    --background-color: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
    flex: 1;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}