/* General and mobile screen styles */
:root {
    --primary-color: #335c67;
    --background-color: #fff3b0;
    --secondary-color: #e09f3e;
    --text-color: var(--primary-color);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0.5rem 0; /* Adjust top and bottom margin */
    font-size: 1.4rem; /* Decrease font size */
    line-height: 1.6rem; /* Adjust line height */
}

main {
    padding: 0.5rem;
    max-width: 100%; /* Adjust for small screens */
    margin: 1rem auto 2rem;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%; /* Adjust for small screens */
    margin: 0 auto; /* Center the form */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    display: block;
    width: auto; /* Ensures labels take the necessary width */
    margin-bottom: 0.5rem; /* Adds vertical spacing between labels */
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="date"], textarea, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

fieldset {
    border: none;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

fieldset legend {
    padding: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: auto;
}

fieldset label {
    display: block;
    margin-bottom: 0.5rem;
}

fieldset:not(:first-of-type) legend::after {
    content: " (Optional)";
    font-weight: normal;
    color: #999;
}

label.inline {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

textarea {
    height: 100px;
    resize: vertical;
}

legend {
    padding: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 0.5rem;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: #000;
}

footer {
    background-color: #335c67;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
