/* Large screen specific adjustments */
@media (min-width: 768px) {
    body {
        background-color: var(--background-color); /* Ensure consistent background color */
    }

    header h1 {
        margin: 0.7rem 0; /* Adjust top and bottom margin */
        font-size: 1.8rem; /* Decrease font size */
        line-height: 2rem; /* Adjust line height */
    }

    main {
        max-width: 800px; /* Adjust max width for large screens */
        padding: 1rem; /* Increase padding around the form */
    }

    form {
        max-width: 600px; /* Adjust max width for large screens */
        margin: 1rem auto; /* Center the form */
    }

    footer {
        position: relative;
        bottom: initial;
        left: initial;
        z-index: initial;
        margin-top: auto;
    }

    .form-group.checkboxes-group {
        display: flex;
        gap: 2rem;
    }

    .form-group.checkboxes-group fieldset {
        flex: 1; /* Ensure each fieldset takes equal width */
    }
}
